// Place all the styles related to the Passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#private_members{
  visibility: hidden;
  height: 0px;
}

.passage{
  border-right: solid 1px;
  padding-left: 15px;
  padding-right: 15px;
}
