// Place all the styles related to the Passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#private_members{
  visibility: hidden;
  height: 0px;
}

.passage{
  padding-left: 15px;
  padding-right: 15px;
}

.post-comment{
  padding-left: 15px;
  border-left: solid 3px #BAEAF0;
}

#post-comment-span{
  margin-left: 0px;
}

#share_button{
  margin-top: -5px;
  padding-bottom: 10px;
}

#post{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: solid 3px #BAEAF0;
}

#comments{
  margin-left: 30px;
  background: #EFF8FD;
}

#comment{
  margin-bottom: 5px;
  border-bottom: solid 3px #FFF;
}

.edit_comment{
  margin-left: 10px;
}

#comment_new_form{
  margin-left: 30px;
}

#passage{
  border-top: solid 3px #BAEAF0;
}


